@charset "utf-8";

body {
    max-width: 1920px;
    margin: auto;
    background-size: cover;
}


/* * ヘッダー * */

.ヘッダー {
    position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
    padding: 0px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 70%);
    z-index: 99;
}

.h横並び {
    position: fixed;
    top: 20px;
    left: 40px;
    display: grid;
    grid-template-columns: 50px 10px 200px;
    gap: 20px;
}

.hホーム {
    cursor: pointer;
    font-family: ab-babywalk, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #647689;
    padding: 0px 0px 1px 0px;
}

.hホーム::before {
    background: #647689;
    content: '';
    width: 16%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform .3s;
}

.hホーム:hover::before {
    transform-origin: center top;
    transform: scale(1, 1);
}

a {
    text-decoration: none;
    color: #647689;
}

.h矢印 {
    width: 100%;
    padding: 3px 0px 0px 0px;
}

.hおえかき {
    cursor: default;
    font-family: ab-babywalk, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #647689;
}

.hロゴ {
    position: fixed;
    top: 2px;
    right: 20px;
    width: 8%;
}



.ロゴ {
    width: 860px;
    max-width: 90%;
    margin:0 auto;
    padding: 200px 20px 0px 0px;
}

.ロゴ画像 {
    width: 100%;
}



/* * なかみ * */

.FA {
    width: 1000px;
    margin:0 auto;
}

.画像 {
    width: 100%;
    margin: 100px 0px 30px 0px;
    border: 20px solid white;
    border-radius: 15px;
}

.小文字 {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #647689;
    font-size: 20px;
}

.大文字 {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #647689;
    font-size: 35px;   
}

.文字1 {
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    width: 110px;
    line-height: 1.4;
    margin: 0px 0px 0px 50px;
}

.文字2 {
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    width: 380px;
    line-height: 1.4;
    margin: 0px 0px 0px 50px;
}

.文字3 {
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    width: 120px;
    line-height: 1.4;
    margin: 0px 0px 0px 50px;
}