@charset "utf-8";

body {
    max-width: 1920px;
    margin: auto;
    background-size: cover;
}



.ヘッダー {
    position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
    padding: 0px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 70%);
    z-index: 99;
}

.h横並び {
    position: fixed;
    top: 20px;
    left: 40px;
    display: grid;
    grid-template-columns: 50px 10px 200px;
    gap: 20px;
}

.hホーム {
    cursor: pointer;
    font-family: ab-babywalk, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #647689;
    padding: 0px 0px 1px 0px;
}

.hホーム::before {
    background: #647689;
    content: '';
    width: 16%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform .3s;
}

.hホーム:hover::before {
    transform-origin: center top;
    transform: scale(1, 1);
}

a {
    text-decoration: none;
    color: #647689;
}

.h矢印 {
    width: 100%;
    padding: 3px 0px 0px 0px;
}

.hおてがみ {
    cursor: default;
    font-family: ab-babywalk, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #647689;
}

.hロゴ {
    position: fixed;
    top: 2px;
    right: 20px;
    height: 50px;
}




.ロゴ {
    width: 860px;
    max-width: 90%;
    margin:0 auto;
    padding: 140px 20px 0px 0px;
}

.ロゴ画像 {
    width: 100%;
}





.envelope-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px;
    
}

.envelope{
    display: inline-flex;
    width:500px;
    max-width: 90%;
    margin:20px;
}

@media (max-width:1900px){
    .envelope-list {
        margin: 50px;
    }
    .envelope{
        margin:10px;
    }
}

@media (max-width:1300px){
    .envelope-list {
        margin: 50px;
    }
    .envelope{
        margin:10px;
    }
}

@media (max-width:1200px){
    .envelope-list {
        margin: 20px;
    }
    .envelope{
        margin:5px;
    }
}
@media (max-width:1100px){
    .envelope-list {
        margin: 5px;
    }
    .envelope{
        margin:5px;
    }
}

@media (max-width:1040px){
    .envelope-list {
        margin: auto;
        justify-content: center;
    }
    .envelope{
        margin:5px;
    }
}




.封筒画像 {
    width: 100%;
    padding: 100px 0px 0px 0px;
    transition: .3s;
    
}

.封筒画像:hover {
    transform: scale(1.05);
}



.開く1 {
    cursor: pointer;
}
#ポップアップ1 {
    display: none;
}
.オーバーレイ1 {
    display: none;
}
#ポップアップ1:checked + .オーバーレイ1 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window1 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙1 {
    width: 90%;
}
.閉じる1 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}





.開く2 {
    cursor: pointer;
}
#ポップアップ2 {
    display: none;
}
.オーバーレイ2 {
    display: none;
}
#ポップアップ2:checked + .オーバーレイ2 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window2 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙2 {
    width: 90%;
}
.閉じる2 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く3 {
    cursor: pointer;
}
#ポップアップ3 {
    display: none;
}
.オーバーレイ3 {
    display: none;
}
#ポップアップ3:checked + .オーバーレイ3 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window3 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙3 {
    width: 90%;
}
.閉じる3 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く4 {
    cursor: pointer;
}
#ポップアップ4 {
    display: none;
}
.オーバーレイ4 {
    display: none;
}
#ポップアップ4:checked + .オーバーレイ4 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window4 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙4 {
    width: 90%;
}
.閉じる4 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く9 {
    cursor: pointer;
}
#ポップアップ9 {
    display: none;
}
.オーバーレイ9 {
    display: none;
}
#ポップアップ9:checked + .オーバーレイ9 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window9 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙9 {
    width: 90%;
}
.閉じる9 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く11 {
    cursor: pointer;
}
#ポップアップ11 {
    display: none;
}
.オーバーレイ11 {
    display: none;
}
#ポップアップ11:checked + .オーバーレイ11 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window11 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙11 {
    width: 90%;
}
.閉じる11 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く5 {
    cursor: pointer;
}
#ポップアップ5 {
    display: none;
}
.オーバーレイ5 {
    display: none;
}
#ポップアップ5:checked + .オーバーレイ5 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window5 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙5 {
    width: 90%;
}
.閉じる5 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く6 {
    cursor: pointer;
}
#ポップアップ6 {
    display: none;
}
.オーバーレイ6 {
    display: none;
}
#ポップアップ6:checked + .オーバーレイ6 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window6 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙6 {
    width: 90%;
}
.閉じる6 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く7 {
    cursor: pointer;
}
#ポップアップ7 {
    display: none;
}
.オーバーレイ7 {
    display: none;
}
#ポップアップ7:checked + .オーバーレイ7 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window7 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙7 {
    width: 90%;
}
.閉じる7 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く8 {
    cursor: pointer;
}
#ポップアップ8 {
    display: none;
}
.オーバーレイ8 {
    display: none;
}
#ポップアップ8:checked + .オーバーレイ8 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window8 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙8 {
    width: 90%;
}
.閉じる8 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く10 {
    cursor: pointer;
}
#ポップアップ10 {
    display: none;
}
.オーバーレイ10 {
    display: none;
}
#ポップアップ10:checked + .オーバーレイ10 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window10 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙10 {
    width: 90%;
}
.閉じる10 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く12 {
    cursor: pointer;
}
#ポップアップ12 {
    display: none;
}
.オーバーレイ12 {
    display: none;
}
#ポップアップ12:checked + .オーバーレイ12 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window12 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙12 {
    width: 90%;
}
.閉じる12 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.開く13 {
    cursor: pointer;
}
#ポップアップ13 {
    display: none;
}
.オーバーレイ13 {
    display: none;
}
#ポップアップ13:checked + .オーバーレイ13 {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window13 {
    width: 90vw;
    max-width: 427px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.手紙13 {
    width: 90%;
}
.閉じる13 {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    color: #c3eafe;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
}